{{>header}}
{{>menu}}

<div id="hero">

<div id="guestName">
<span>If you were a dinosaur</span>
<h4 id="mysubhead">What kind would you be?<h2>
<form action="/get-name" method="POST">
   <input type="text" name="guestname" placeholder="Enter your first name" />
   <input type="submit" class="btn btn-success btn-sm" />

</form>
</div>
</div>
{{>footer}}
