<!doctype html>
<html lang="en">
{{>header}} 
  <body>
{{>menu}}
    <h1>Blog Posts</h1>

{{#blogs}}

<form action='/delete-blog' method="POST">
    <h3>{{title}}</h3>
    <label>{{author}}</label>
    <p>{{body}}</p>
    <h6>{{created}}</h6>
    <button type="button" class="btn btn-danger">Delete</button>
    <input type="hidden" name="blogId" value="{{blogid}}" />
    <a href="/edit-blog/{{blogid}}">
        <button type="button" class="btn btn-secondary">Edit</button></a>

</form>

{{/blogs}}
  

{{>footer}}    
  </body>
</html>