<nav>
    <a href="/">Home</a>
    <a href="/add-blog">Add Blog Post</a>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
    <a href="/users/my-blogs">My Blogs</a>
    <a href="/users/dashboard">Dashboard</a>
</nav>